<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">-->
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
    <div class="mainSquare">
        <div class="mainPage">
            <div class="container">
                <h2 class="title">
                    <span class="title-word title-word-1">Typing</span>
                    <span class="title-word title-word-2">Test</span>
                    <span class="title-word title-word-3">Project</span>
                </h2>
            </div>
            <div class="producer">
                <span class="name">@anheejeong</span>
            </div>
        </div>
        <!--- 이미지 업로드 실패
        <div class="image">
            <img src="/public/image/keyboard.jpg" alt="keyboard">
        </div>
    -->

        <div class="typingType">
            <div class="easymode">
                <!-- onclick으로 링크 넘겨줄 것 -->
                <button type="button" class="btn alphabet" onclick="location.href='/alphabet'">자리연습</button>
                <button type="button" class="btn word" onclick="location.href='/word'">낱말연습</button>
            </div>
            <div class="hardmode">
                <button type="button" class="btn short" onclick="location.href='short'">단문연습</button>
                <button type="button" class="btn long" onclick="location.href='long'">장문연습</button>
            </div>
        </div>
    </div>
</body>

</html>